body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #0056c7;
}

#mensagem {
    margin-top: 15px;
    font-weight: bold;
}
